{% extends 'base.html.twig' %}

{% block title %}FuPrAn{% endblock %}

{% block body %}
    <div id="stats" class="row row-cols-3 gy-4">
        <div class="col">
            <twig:DailyAggregateCard aggregate="{{ latestDailyAggregate.diesel }}" />
        </div>
        <div class="col">
            <twig:DailyAggregateCard aggregate="{{ latestDailyAggregate.e5 }}" />
        </div>
        <div class="col">
            <twig:DailyAggregateCard aggregate="{{ latestDailyAggregate.e10 }}" />
        </div>
        <div class="col-12">
            <twig:PriceOverviewCard />
        </div>
    </div>
{% endblock %}
