{% extends 'stations/list.html.twig' %}

{% block title %}FuPrAn - Stations matching {{ query }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_stations') }}">Stations</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
    </nav>
{% endblock %}

{% block paginator %}
    <twig:Paginator currentPage="{{ stations.page }}" totalPages="{{ stations|length }}" routeName="app_stations_search" routeParams="{{ { query: query } }}" />
{% endblock %}
