<div
    {{ attributes }}
    {{ stimulus_controller('chart', {
        url: this.chartHelper.baseUrl,
        chart: this.chartId,
        station: this.station is not null ? this.station.id : null,
        fuel: this.fuel,
    }) }}
    {{ stimulus_action('chart', 'updateFilter', 'filter:update@window') }}
>
    <div {{ stimulus_target('chart', 'chart') }} style="height: 600px;"></div>
</div>
