<div
    id="chart_{{ this.uniqueId }}"
    style="height: 600px;"
    data-controller="chart--price-history"
    data-chart--price-history-station-value="{{ this.station.id }}"
    data-chart--price-history-fuel-value="{{ this.fuel }}"
>
</div>
